USE [master]
GO
/****** Object:  Database [project2]    Script Date: 9/26/2025 4:07:45 PM ******/
CREATE DATABASE [project2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'project2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\project2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'project2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\project2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [project2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [project2]
GO
/****** Object:  Table [dbo].[MDP_Camera]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_Camera](
	[MDP_CameraID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_SanPhamID] [int] NOT NULL,
	[MDP_TenCamera] [nvarchar](150) NULL,
	[MDP_DoPhanGiai] [nvarchar](50) NULL,
	[MDP_CamBien] [nvarchar](50) NULL,
	[MDP_OngKinh] [nvarchar](100) NULL,
	[MDP_BoNho] [nvarchar](50) NULL,
	[MDP_CreatedAt] [datetime] NULL,
	[MDP_UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_CameraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_Cart]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_Cart](
	[MDP_CartID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_UserID] [int] NOT NULL,
	[MDP_VariantID] [int] NOT NULL,
	[MDP_SoLuong] [int] NULL,
	[MDP_NgayThem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_Category]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_Category](
	[MDP_CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_TenDanhMuc] [nvarchar](100) NOT NULL,
	[MDP_MoTa] [nvarchar](255) NULL,
	[MDP_AnhDanhMuc] [nvarchar](255) NULL,
	[MDP_CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_ChatSupport]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_ChatSupport](
	[MDP_ChatID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_DonHangID] [int] NOT NULL,
	[MDP_SenderID] [int] NOT NULL,
	[MDP_TinNhan] [nvarchar](max) NOT NULL,
	[MDP_SentAt] [datetime] NULL,
	[MDP_FileDinhKem] [nvarchar](255) NULL,
	[MDP_DaXem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_ChatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_ChiTietDonHang]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_ChiTietDonHang](
	[MDP_ChiTietDonHangID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_DonHangID] [int] NOT NULL,
	[MDP_VariantID] [int] NOT NULL,
	[MDP_SoLuong] [int] NOT NULL,
	[MDP_Gia] [decimal](18, 2) NOT NULL,
	[MDP_GiamGia] [decimal](18, 2) NULL,
	[MDP_ThanhTien]  AS ([MDP_SoLuong]*[MDP_Gia]-isnull([MDP_GiamGia],(0))) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MDP_ChiTietDonHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_ChiTietHoaDon]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_ChiTietHoaDon](
	[MDP_ChiTietHDID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_HoaDonID] [int] NOT NULL,
	[MDP_VariantID] [int] NOT NULL,
	[MDP_SoLuong] [int] NOT NULL,
	[MDP_Gia] [decimal](18, 2) NOT NULL,
	[MDP_GiamGia] [decimal](18, 2) NULL,
	[MDP_ThanhTien]  AS ([MDP_SoLuong]*[MDP_Gia]-isnull([MDP_GiamGia],(0))) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MDP_ChiTietHDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_DoanhThuSanPham]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_DoanhThuSanPham](
	[MDP_DoanhThuID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_SanPhamID] [int] NOT NULL,
	[MDP_VariantID] [int] NULL,
	[MDP_TongSoLuongBan] [int] NULL,
	[MDP_TongDoanhThu] [decimal](18, 2) NULL,
	[MDP_Thang] [int] NULL,
	[MDP_Nam] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_DoanhThuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_DonHang]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_DonHang](
	[MDP_DonHangID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_KhachHangID] [int] NOT NULL,
	[MDP_NgayDatDonHang] [datetime] NULL,
	[MDP_NgayGiaoHang] [datetime] NULL,
	[MDP_DiaChiGiaoHang] [nvarchar](255) NULL,
	[MDP_PhuongThucThanhToan] [nvarchar](50) NULL,
	[MDP_TrangThaiThanhToan] [nvarchar](20) NULL,
	[MDP_Status] [nvarchar](20) NULL,
	[MDP_TongTien] [decimal](18, 2) NOT NULL,
	[MDP_KMID] [int] NULL,
	[MDP_GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_DonHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_HoaDon]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_HoaDon](
	[MDP_HoaDonID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_DonHangID] [int] NOT NULL,
	[MDP_NgayXuat] [datetime] NULL,
	[MDP_TongTien] [decimal](18, 2) NOT NULL,
	[MDP_PhuongThucThanhToan] [nvarchar](50) NULL,
	[MDP_TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_KhoHang]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_KhoHang](
	[MDP_KhoID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_SanPhamID] [int] NOT NULL,
	[MDP_SoLuongNhap] [int] NULL,
	[MDP_SoLuongTon] [int] NULL,
	[MDP_NgayNhap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_KhoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_KhuyenMai]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_KhuyenMai](
	[MDP_KMID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_MaCode] [nvarchar](50) NULL,
	[MDP_MoTa] [nvarchar](255) NULL,
	[MDP_GiaTri] [decimal](18, 2) NULL,
	[MDP_PhanTram] [int] NULL,
	[MDP_NgayBatDau] [datetime] NULL,
	[MDP_NgayKetThuc] [datetime] NULL,
	[MDP_TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_KMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MDP_MaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_Laptop]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_Laptop](
	[MDP_LaptopID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_SanPhamID] [int] NOT NULL,
	[MDP_TenLaptop] [nvarchar](150) NOT NULL,
	[MDP_CPU] [nvarchar](100) NULL,
	[MDP_RAM] [nvarchar](50) NULL,
	[MDP_Storage] [nvarchar](50) NULL,
	[MDP_GPU] [nvarchar](100) NULL,
	[MDP_ManHinh] [nvarchar](100) NULL,
	[MDP_Pin] [nvarchar](50) NULL,
	[MDP_HeDieuHanh] [nvarchar](50) NULL,
	[MDP_CreatedAt] [datetime] NULL,
	[MDP_UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_LaptopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_LinhKien]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_LinhKien](
	[MDP_LinhKienID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_SanPhamID] [int] NOT NULL,
	[MDP_TenLinhKien] [nvarchar](150) NULL,
	[MDP_LoaiLinhKien] [nvarchar](100) NULL,
	[MDP_ThongSoKyThuat] [nvarchar](max) NULL,
	[MDP_CreatedAt] [datetime] NULL,
	[MDP_UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_LinhKienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_MauSac]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_MauSac](
	[MDP_MauSacID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_TenMau] [nvarchar](50) NULL,
	[MDP_MaHex] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_MauSacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_Monitor]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_Monitor](
	[MDP_MonitorID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_SanPhamID] [int] NOT NULL,
	[MDP_TenMonitor] [nvarchar](150) NULL,
	[MDP_KichThuoc] [nvarchar](50) NULL,
	[MDP_DoPhanGiai] [nvarchar](50) NULL,
	[MDP_TanSoQuet] [nvarchar](50) NULL,
	[MDP_CongKetNoi] [nvarchar](100) NULL,
	[MDP_TamNen] [nvarchar](50) NULL,
	[MDP_CreatedAt] [datetime] NULL,
	[MDP_UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_MonitorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_Mouse]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_Mouse](
	[MDP_MouseID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_SanPhamID] [int] NOT NULL,
	[MDP_TenMouse] [nvarchar](150) NULL,
	[MDP_KieuKetNoi] [nvarchar](50) NULL,
	[MDP_DoPhanGiai] [nvarchar](50) NULL,
	[MDP_SoNut] [int] NULL,
	[MDP_DenLED] [bit] NULL,
	[MDP_CreatedAt] [datetime] NULL,
	[MDP_UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_MouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_PC]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_PC](
	[MDP_PCID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_SanPhamID] [int] NOT NULL,
	[MDP_TenPC] [nvarchar](150) NOT NULL,
	[MDP_CPU] [nvarchar](100) NULL,
	[MDP_GPU] [nvarchar](100) NULL,
	[MDP_RAM] [nvarchar](50) NULL,
	[MDP_Storage] [nvarchar](50) NULL,
	[MDP_Mainboard] [nvarchar](100) NULL,
	[MDP_PSU] [nvarchar](100) NULL,
	[MDP_CaseType] [nvarchar](100) NULL,
	[MDP_CreatedAt] [datetime] NULL,
	[MDP_UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_PCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_Phone]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_Phone](
	[MDP_PhoneID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_SanPhamID] [int] NOT NULL,
	[MDP_TenPhone] [nvarchar](150) NOT NULL,
	[MDP_ManHinh] [nvarchar](100) NULL,
	[MDP_Camera] [nvarchar](100) NULL,
	[MDP_Pin] [nvarchar](50) NULL,
	[MDP_RAM] [nvarchar](50) NULL,
	[MDP_Storage] [nvarchar](50) NULL,
	[MDP_Chipset] [nvarchar](100) NULL,
	[MDP_HeDieuHanh] [nvarchar](50) NULL,
	[MDP_CreatedAt] [datetime] NULL,
	[MDP_UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_PhoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_ProductVariant]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_ProductVariant](
	[MDP_VariantID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_SanPhamID] [int] NOT NULL,
	[MDP_MauSacID] [int] NULL,
	[MDP_DungLuong] [nvarchar](50) NULL,
	[MDP_Gia] [decimal](18, 2) NULL,
	[MDP_Anh] [nvarchar](255) NULL,
	[MDP_SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_VariantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_Review]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_Review](
	[MDP_ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_SanPhamID] [int] NOT NULL,
	[MDP_UserID] [int] NOT NULL,
	[MDP_Rating] [int] NULL,
	[MDP_Comment] [nvarchar](max) NULL,
	[MDP_CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_SanPham]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_SanPham](
	[MDP_SanPhamID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_TenSanPham] [nvarchar](150) NOT NULL,
	[MDP_MoTa] [nvarchar](255) NULL,
	[MDP_CreatedAt] [datetime] NULL,
	[MDP_UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_SanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDP_Users]    Script Date: 9/26/2025 4:07:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDP_Users](
	[MDP_UserID] [int] IDENTITY(1,1) NOT NULL,
	[MDP_TenDangNhap] [nvarchar](50) NOT NULL,
	[MDP_MatKhau] [nvarchar](255) NOT NULL,
	[MDP_Email] [nvarchar](100) NOT NULL,
	[MDP_HoTen] [nvarchar](100) NOT NULL,
	[MDP_SoDienThoai] [nvarchar](20) NULL,
	[MDP_DiaChi] [nvarchar](255) NULL,
	[MDP_Role] [nvarchar](20) NULL,
	[MDP_NgaySinh] [date] NULL,
	[MDP_GioiTinh] [nvarchar](10) NULL,
	[MDP_Avatar] [nvarchar](255) NULL,
	[MDP_TrangThai] [nvarchar](20) NULL,
	[MDP_CreatedAt] [datetime] NULL,
	[MDP_UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MDP_UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MDP_TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MDP_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MDP_Camera] ADD  DEFAULT (getdate()) FOR [MDP_CreatedAt]
GO
ALTER TABLE [dbo].[MDP_Camera] ADD  DEFAULT (getdate()) FOR [MDP_UpdatedAt]
GO
ALTER TABLE [dbo].[MDP_Cart] ADD  DEFAULT ((1)) FOR [MDP_SoLuong]
GO
ALTER TABLE [dbo].[MDP_Cart] ADD  DEFAULT (getdate()) FOR [MDP_NgayThem]
GO
ALTER TABLE [dbo].[MDP_Category] ADD  DEFAULT (getdate()) FOR [MDP_CreatedAt]
GO
ALTER TABLE [dbo].[MDP_ChatSupport] ADD  DEFAULT (getdate()) FOR [MDP_SentAt]
GO
ALTER TABLE [dbo].[MDP_ChatSupport] ADD  DEFAULT ((0)) FOR [MDP_DaXem]
GO
ALTER TABLE [dbo].[MDP_DoanhThuSanPham] ADD  DEFAULT ((0)) FOR [MDP_TongSoLuongBan]
GO
ALTER TABLE [dbo].[MDP_DoanhThuSanPham] ADD  DEFAULT ((0)) FOR [MDP_TongDoanhThu]
GO
ALTER TABLE [dbo].[MDP_DonHang] ADD  DEFAULT (getdate()) FOR [MDP_NgayDatDonHang]
GO
ALTER TABLE [dbo].[MDP_DonHang] ADD  DEFAULT ('unpaid') FOR [MDP_TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[MDP_DonHang] ADD  DEFAULT ('pending') FOR [MDP_Status]
GO
ALTER TABLE [dbo].[MDP_HoaDon] ADD  DEFAULT (getdate()) FOR [MDP_NgayXuat]
GO
ALTER TABLE [dbo].[MDP_HoaDon] ADD  DEFAULT ('chua_thanh_toan') FOR [MDP_TrangThai]
GO
ALTER TABLE [dbo].[MDP_KhoHang] ADD  DEFAULT (getdate()) FOR [MDP_NgayNhap]
GO
ALTER TABLE [dbo].[MDP_KhuyenMai] ADD  DEFAULT ('active') FOR [MDP_TrangThai]
GO
ALTER TABLE [dbo].[MDP_Laptop] ADD  DEFAULT (getdate()) FOR [MDP_CreatedAt]
GO
ALTER TABLE [dbo].[MDP_Laptop] ADD  DEFAULT (getdate()) FOR [MDP_UpdatedAt]
GO
ALTER TABLE [dbo].[MDP_LinhKien] ADD  DEFAULT (getdate()) FOR [MDP_CreatedAt]
GO
ALTER TABLE [dbo].[MDP_LinhKien] ADD  DEFAULT (getdate()) FOR [MDP_UpdatedAt]
GO
ALTER TABLE [dbo].[MDP_Monitor] ADD  DEFAULT (getdate()) FOR [MDP_CreatedAt]
GO
ALTER TABLE [dbo].[MDP_Monitor] ADD  DEFAULT (getdate()) FOR [MDP_UpdatedAt]
GO
ALTER TABLE [dbo].[MDP_Mouse] ADD  DEFAULT (getdate()) FOR [MDP_CreatedAt]
GO
ALTER TABLE [dbo].[MDP_Mouse] ADD  DEFAULT (getdate()) FOR [MDP_UpdatedAt]
GO
ALTER TABLE [dbo].[MDP_PC] ADD  DEFAULT (getdate()) FOR [MDP_CreatedAt]
GO
ALTER TABLE [dbo].[MDP_PC] ADD  DEFAULT (getdate()) FOR [MDP_UpdatedAt]
GO
ALTER TABLE [dbo].[MDP_Phone] ADD  DEFAULT (getdate()) FOR [MDP_CreatedAt]
GO
ALTER TABLE [dbo].[MDP_Phone] ADD  DEFAULT (getdate()) FOR [MDP_UpdatedAt]
GO
ALTER TABLE [dbo].[MDP_ProductVariant] ADD  DEFAULT ((0)) FOR [MDP_SoLuong]
GO
ALTER TABLE [dbo].[MDP_Review] ADD  DEFAULT (getdate()) FOR [MDP_CreatedAt]
GO
ALTER TABLE [dbo].[MDP_SanPham] ADD  DEFAULT (getdate()) FOR [MDP_CreatedAt]
GO
ALTER TABLE [dbo].[MDP_SanPham] ADD  DEFAULT (getdate()) FOR [MDP_UpdatedAt]
GO
ALTER TABLE [dbo].[MDP_Users] ADD  DEFAULT ('khachhang') FOR [MDP_Role]
GO
ALTER TABLE [dbo].[MDP_Users] ADD  DEFAULT ('active') FOR [MDP_TrangThai]
GO
ALTER TABLE [dbo].[MDP_Users] ADD  DEFAULT (getdate()) FOR [MDP_CreatedAt]
GO
ALTER TABLE [dbo].[MDP_Users] ADD  DEFAULT (getdate()) FOR [MDP_UpdatedAt]
GO
ALTER TABLE [dbo].[MDP_Camera]  WITH CHECK ADD  CONSTRAINT [FK_Camera_SanPham] FOREIGN KEY([MDP_SanPhamID])
REFERENCES [dbo].[MDP_SanPham] ([MDP_SanPhamID])
GO
ALTER TABLE [dbo].[MDP_Camera] CHECK CONSTRAINT [FK_Camera_SanPham]
GO
ALTER TABLE [dbo].[MDP_Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([MDP_UserID])
REFERENCES [dbo].[MDP_Users] ([MDP_UserID])
GO
ALTER TABLE [dbo].[MDP_Cart] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[MDP_Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Variant] FOREIGN KEY([MDP_VariantID])
REFERENCES [dbo].[MDP_ProductVariant] ([MDP_VariantID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MDP_Cart] CHECK CONSTRAINT [FK_Cart_Variant]
GO
ALTER TABLE [dbo].[MDP_ChatSupport]  WITH CHECK ADD  CONSTRAINT [FK_ChatSupport_DonHang] FOREIGN KEY([MDP_DonHangID])
REFERENCES [dbo].[MDP_DonHang] ([MDP_DonHangID])
GO
ALTER TABLE [dbo].[MDP_ChatSupport] CHECK CONSTRAINT [FK_ChatSupport_DonHang]
GO
ALTER TABLE [dbo].[MDP_ChatSupport]  WITH CHECK ADD  CONSTRAINT [FK_ChatSupport_User] FOREIGN KEY([MDP_SenderID])
REFERENCES [dbo].[MDP_Users] ([MDP_UserID])
GO
ALTER TABLE [dbo].[MDP_ChatSupport] CHECK CONSTRAINT [FK_ChatSupport_User]
GO
ALTER TABLE [dbo].[MDP_ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([MDP_DonHangID])
REFERENCES [dbo].[MDP_DonHang] ([MDP_DonHangID])
GO
ALTER TABLE [dbo].[MDP_ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[MDP_ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_Variant] FOREIGN KEY([MDP_VariantID])
REFERENCES [dbo].[MDP_ProductVariant] ([MDP_VariantID])
GO
ALTER TABLE [dbo].[MDP_ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_Variant]
GO
ALTER TABLE [dbo].[MDP_ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MDP_HoaDonID])
REFERENCES [dbo].[MDP_HoaDon] ([MDP_HoaDonID])
GO
ALTER TABLE [dbo].[MDP_ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[MDP_ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_Variant] FOREIGN KEY([MDP_VariantID])
REFERENCES [dbo].[MDP_ProductVariant] ([MDP_VariantID])
GO
ALTER TABLE [dbo].[MDP_ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_Variant]
GO
ALTER TABLE [dbo].[MDP_DoanhThuSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DoanhThu_SanPham] FOREIGN KEY([MDP_SanPhamID])
REFERENCES [dbo].[MDP_SanPham] ([MDP_SanPhamID])
GO
ALTER TABLE [dbo].[MDP_DoanhThuSanPham] CHECK CONSTRAINT [FK_DoanhThu_SanPham]
GO
ALTER TABLE [dbo].[MDP_DoanhThuSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DoanhThu_Variant] FOREIGN KEY([MDP_VariantID])
REFERENCES [dbo].[MDP_ProductVariant] ([MDP_VariantID])
GO
ALTER TABLE [dbo].[MDP_DoanhThuSanPham] CHECK CONSTRAINT [FK_DoanhThu_Variant]
GO
ALTER TABLE [dbo].[MDP_DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhuyenMai] FOREIGN KEY([MDP_KMID])
REFERENCES [dbo].[MDP_KhuyenMai] ([MDP_KMID])
GO
ALTER TABLE [dbo].[MDP_DonHang] CHECK CONSTRAINT [FK_DonHang_KhuyenMai]
GO
ALTER TABLE [dbo].[MDP_DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_User] FOREIGN KEY([MDP_KhachHangID])
REFERENCES [dbo].[MDP_Users] ([MDP_UserID])
GO
ALTER TABLE [dbo].[MDP_DonHang] CHECK CONSTRAINT [FK_DonHang_User]
GO
ALTER TABLE [dbo].[MDP_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_DonHang] FOREIGN KEY([MDP_DonHangID])
REFERENCES [dbo].[MDP_DonHang] ([MDP_DonHangID])
GO
ALTER TABLE [dbo].[MDP_HoaDon] CHECK CONSTRAINT [FK_HoaDon_DonHang]
GO
ALTER TABLE [dbo].[MDP_KhoHang]  WITH CHECK ADD  CONSTRAINT [FK_Kho_SanPham] FOREIGN KEY([MDP_SanPhamID])
REFERENCES [dbo].[MDP_SanPham] ([MDP_SanPhamID])
GO
ALTER TABLE [dbo].[MDP_KhoHang] CHECK CONSTRAINT [FK_Kho_SanPham]
GO
ALTER TABLE [dbo].[MDP_Laptop]  WITH CHECK ADD  CONSTRAINT [FK_Laptop_SanPham] FOREIGN KEY([MDP_SanPhamID])
REFERENCES [dbo].[MDP_SanPham] ([MDP_SanPhamID])
GO
ALTER TABLE [dbo].[MDP_Laptop] CHECK CONSTRAINT [FK_Laptop_SanPham]
GO
ALTER TABLE [dbo].[MDP_LinhKien]  WITH CHECK ADD  CONSTRAINT [FK_LinhKien_SanPham] FOREIGN KEY([MDP_SanPhamID])
REFERENCES [dbo].[MDP_SanPham] ([MDP_SanPhamID])
GO
ALTER TABLE [dbo].[MDP_LinhKien] CHECK CONSTRAINT [FK_LinhKien_SanPham]
GO
ALTER TABLE [dbo].[MDP_Monitor]  WITH CHECK ADD  CONSTRAINT [FK_Monitor_SanPham] FOREIGN KEY([MDP_SanPhamID])
REFERENCES [dbo].[MDP_SanPham] ([MDP_SanPhamID])
GO
ALTER TABLE [dbo].[MDP_Monitor] CHECK CONSTRAINT [FK_Monitor_SanPham]
GO
ALTER TABLE [dbo].[MDP_Mouse]  WITH CHECK ADD  CONSTRAINT [FK_Mouse_SanPham] FOREIGN KEY([MDP_SanPhamID])
REFERENCES [dbo].[MDP_SanPham] ([MDP_SanPhamID])
GO
ALTER TABLE [dbo].[MDP_Mouse] CHECK CONSTRAINT [FK_Mouse_SanPham]
GO
ALTER TABLE [dbo].[MDP_PC]  WITH CHECK ADD  CONSTRAINT [FK_PC_SanPham] FOREIGN KEY([MDP_SanPhamID])
REFERENCES [dbo].[MDP_SanPham] ([MDP_SanPhamID])
GO
ALTER TABLE [dbo].[MDP_PC] CHECK CONSTRAINT [FK_PC_SanPham]
GO
ALTER TABLE [dbo].[MDP_Phone]  WITH CHECK ADD  CONSTRAINT [FK_Phone_SanPham] FOREIGN KEY([MDP_SanPhamID])
REFERENCES [dbo].[MDP_SanPham] ([MDP_SanPhamID])
GO
ALTER TABLE [dbo].[MDP_Phone] CHECK CONSTRAINT [FK_Phone_SanPham]
GO
ALTER TABLE [dbo].[MDP_ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_Variant_MauSac] FOREIGN KEY([MDP_MauSacID])
REFERENCES [dbo].[MDP_MauSac] ([MDP_MauSacID])
GO
ALTER TABLE [dbo].[MDP_ProductVariant] CHECK CONSTRAINT [FK_Variant_MauSac]
GO
ALTER TABLE [dbo].[MDP_ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_Variant_SanPham] FOREIGN KEY([MDP_SanPhamID])
REFERENCES [dbo].[MDP_SanPham] ([MDP_SanPhamID])
GO
ALTER TABLE [dbo].[MDP_ProductVariant] CHECK CONSTRAINT [FK_Variant_SanPham]
GO
ALTER TABLE [dbo].[MDP_Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_SanPham] FOREIGN KEY([MDP_SanPhamID])
REFERENCES [dbo].[MDP_SanPham] ([MDP_SanPhamID])
GO
ALTER TABLE [dbo].[MDP_Review] CHECK CONSTRAINT [FK_Review_SanPham]
GO
ALTER TABLE [dbo].[MDP_Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_User] FOREIGN KEY([MDP_UserID])
REFERENCES [dbo].[MDP_Users] ([MDP_UserID])
GO
ALTER TABLE [dbo].[MDP_Review] CHECK CONSTRAINT [FK_Review_User]
GO
ALTER TABLE [dbo].[MDP_Review]  WITH CHECK ADD CHECK  (([MDP_Rating]>=(1) AND [MDP_Rating]<=(5)))
GO
USE [master]
GO
